{% extends "med/layout.html" %}
 
{% block content %}
 
<html lang="ru">
<head>
    <meta charset="utf-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" >   

    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'med/content/bootstrap.min.css' %}" />
    <script src="{% static 'med/scripts/modernizr-2.6.2.js' %}"></script>
</head>

<body >  
    
    <section class="jumbotron text-center">
    <div class="container">
      <h1> Медицинский справочник</h1>
      <p class="lead text-muted">Справочник обо всём, что касается медицины</p>
      <p>

      </p>
    </div>
  </section> 
    
<h1 align="center"><span class="badge badge-secondary">Полезные советы и упражнения для хорошей осанки</span></center></h1>
<dl style="padding-left:10px">
    <dd>1 правило. Приучайтесь держать спину ровной всегда</dd>
<dd>Где бы вы не находились и чем бы не занимались помните про осанку. Гуляете - обязательно держите спину ровно(для девочек это особенно актуально). Сидите на стуле помните о этом правиле. Даже стоя залипая в телефон. Первое время вы будете на этом фокусироваться, а со временем это войдет в привычку.</dd>
<dd>2 правило. Сидя на стуле следите за сгибом поясницей</dd>
<dd>Вам может казаться, что вы делаете все правильно. Но окажется как на картинке слева. Либо вы выгибаетесь, либо сутулитесь. Уже осанка не ровная. Это также войдет в привычку. У меня дома есть зеркало в котором отражается как я сижу и если расслабляюсь и забываюсь, то оно помогает мне напомнить.
</dd>
<dd>3 правило. Держите голову ровно</dd>
<dd>При правильной осанке ваши лопатки уходят вниз и плечи выкручиваются. В этом случае, опуская голову, вы не сможете максимально прижать подбородок к груди. Поэтому просто держите голову ровно, и гордо ходите не опуская её.
</dd>
<dd>4 правило: Растяжка</dd>
<dd>Растяжку выполнять отдельно от тренировки вообщем полезно для мышц и восстановления. Но и для осанки полезно растягивать мышцы спины, чтобы она всегда была в тонусе. Это самые простые тянущие движения. Сядьте на пол и начинайте тянуться к носкам. Заметил интересное упражнение: найдите дверной проём и начинайте вытягиваться, как на картинке.
</dd>
<dd>5 правило: Подтягивания и упражнения на поясницу</dd>
<dd>Сведение лопаток в подтягивании улучшат вашу осанку и заставят мышцы работать правильно. Только с поправкой на правильную технику, по другому никак. Также полезны будут упражнения на поясницу(лодочка удержание и др.). Я выполняю их каждое утро и это вошло в привычку. От таких постоянных легких упражнений спина будет меньше болеть.
</dd>
<dd>6. Не засиживайтесь</dd>
<dd>Работа в офисе может и интересная, но постоянно сидеть на стуле тоже не стоит. В течении дня вставайте с места и ходите по 2-3 минуты каждые 40 минут. Сидеть непрерывно по 2-3 часа будет сказываться на вашей осанке. Вы будете забывать о правильной и ровной спине.
</dd>

</dl>          
     
        
           
</body>
</html>

{% endblock %}