{% extends "med/layout.html" %}
 
{% block content %}
 
<html lang="ru">
<head>
    <meta charset="utf-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" >   

    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'med/content/bootstrap.min.css' %}" />
    <script src="{% static 'med/scripts/modernizr-2.6.2.js' %}"></script>
</head>

<body >  
     
    <section class="jumbotron text-center">
    <div class="container">
      <h1> Медицинский справочник</h1>
      <p class="lead text-muted">Справочник обо всём, что касается медицины</p>
      <p>

      </p>
    </div>
  </section> 
    
<h1 align="center"><span class="badge badge-secondary">Полезные советы и упражнения для сердца</span></center></h1>
<dl style="padding-left:10px">
    <dd>Стол при заболеваниях сердечно-сосудистой системы, а особенно инфаркте, сердечной недостаточности, должен быть максимально правильным и полезным. Этого достигают, употребляя необходимые для миокарда и сосудов белки, жиры, углеводы, витамины и микроэлементы.

Ниже представлены продукты, которые улучшают работу сердца, снижают уровень холестерина, очищают сосуды и предупреждают возникновение кардиоваскулярных заболеваний. Таковы современные советы кардиологов в отношении профилактики кардиопроблем.

Исходя из рекомендации ВОЗ (Всемирной организации здравоохранения), половина суточного потребления протеиновой пищи должна приходиться на растительные белки. Их содержание велико в бобовых (горох, фасоль), зерновых продуктах, соевом молоке, какао. В перерывах между основными приемами пищи полезен перекус семечками (кунжут) и разнообразными видами орехов (фундук). Блюда из мяса (желательно употреблять нежирные сорта: курятину, крольчатину, телятину) едят в отварном или запеченном виде. Молочные продукты (сыр, творог, несладкий йогурт) и яйца принимают только обезжиренные.

Чтобы жиры приносили пользу сердцу, в диете ненасыщенных должно быть больше, чем насыщенных в 2,5 раза. Скумбрия, сельдь, форель, сардины и различные растительные масла (оливковое, подсолнечное, хлопковое, соевое) – источники полиненасыщенных жирных кислот. Они снижают уровень холестерина, триглицеридов, разжижают кровь и уменьшают артериальное давление.

Ограничивают употребление быстроусвояемых углеводов (хлебобулочные изделия, сахар, мед), отдавая предпочтение различным крупам, злаковым продуктам. А принимая в пищу свежие овощи и сухофрукты (банан, яблоко, киви, персик, курага), плоды растений (ягоды), вы восстановите баланс витаминов, минералов и микроэлементов, незаменимых для работы сердца.

Упражнения для укрепления сердца и сосудов

Физиотерапия – комплекс методов, эффект которых реализуется под влиянием электрического или магнитного поля, лазерного излучения, ультразвука и с помощью лечебной физкультуры.

<dd>Работа физиотерапевта направлена на:</dd>

<dd>• устранение стресса, невротического состояния;</dd>

<dd>• снижение артериального давления (уменьшает нагрузку на сердце);</dd>

<dd>• улучшение реологических свойств крови (профилактика тромбообразования);</dd>

<dd>• нормализацию массы тела;</dd>

<dd>• активизацию обмена веществ (предупреждение развития атеросклероза в коронарных сосудах).</dd>


<dd>Залог успеха – систематичность и регулярность занятий с контролем пульса и постепенным увеличением длительности и интенсивности нагрузки.Хорошо высыпаться. Регулярный недосып плохо влияет на состояние зрительного нерва, вследствие чего качество зрения заметно снижается.</dd>
 </dd>   
</dl>          
     
        
           
</body>
</html>

{% endblock %}