{% extends "med/layout.html" %}
 
{% block content %}
 
<html lang="ru">
<head>
    <meta charset="utf-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" >   

    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'med/content/bootstrap.min.css' %}" />
    <script src="{% static 'med/scripts/modernizr-2.6.2.js' %}"></script>
</head>

<body >  
     
    <section class="jumbotron text-center">
    <div class="container">
      <h1> Медицинский справочник</h1>
      <p class="lead text-muted">Справочник обо всём, что касается медицины</p>
      <p>

      </p>
    </div>
  </section> 
    
<h1 align="center"><span class="badge badge-secondary">Полезные советы и упражнения для глаз</span></center></h1>
<dl style="padding-left:10px">
    <dd>Хорошо высыпаться. Регулярный недосып плохо влияет на состояние зрительного нерва, вследствие чего качество зрения заметно снижается.</dd>
    <dd>Давать глазам отдых в течение активного дня. Во время чтения, просмотра телевизора, работы за компьютером необходимо делать паузы (10-15 минут). Желательно одну-две таких паузы посвящать специальным упражнениям для глаз.</dd>
    <dd>Смотреть телевизор и читать книги важно в хорошо освещённом помещении. Привычка смотреть телевизор в темноте губительна для здоровья глаз.</dd>
    <dd>Читать в правильном положении. Категорически нельзя читать книги во время движения (в транспорте, при ходьбе). Читать надо сидя, не стоит привыкать к чтению лёжа.</dd>
    <dd>Не щуриться. Эта привычка не только портит внешний вид, но и отрицательно влияет на глаза.</dd>
    <dd>Употреблять в пищу продукты, богатые витаминами А, Е, С.</dd>
    <dd>Чаще отдыхать, гулять на свежем воздухе.</dd>
    <dd>Регулярно посещать офтальмолога для профилактических осмотров.</dd>
</dl>          
     
        
           
</body>
</html>

{% endblock %}