<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Медицинский справочник</title>
    {% load staticfiles %}
    
     <link rel="shortcut icon" href="{% static '/favicon.ico' %}" type="image/png" />
    <link rel="stylesheet" type="text/css" href="{% static 'med/content/bootstrap.min.css' %}" />
    <script src="{% static 'med/scripts/modernizr-2.6.2.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

     <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark shadow-sm">
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">Главная <span class="sr-only">(current)</span></a>
{% if user.is_authenticated  %} 
     {% else %}
        </li>
         <a class="btn btn-outline-primary" href="{% url 'new-user' %}">Регистрация</a>
         </li>
{%endif%}       
</li>
        
          <a class="btn btn-outline-primary" href="{% url 'home1' %}">Глаза</a>
      </li>  
      </li>
        
          <a class="btn btn-outline-primary" href="{% url 'home2' %}">Сердце</a>
      </li> 
      </li>
        
          <a class="btn btn-outline-primary" href="{% url 'home3' %}">Осанка</a>
      </li>

    </ul>
      
     {% if user.is_authenticated %} 
      <form class="form-inline my-2 my-lg-0 mr-sm-2" action="{% url 'profile' %}" >
      <button class="btn btn-outline-primary" type="submit">{{user.username}}</button>
        </form>
      <form class="form-inline my-2 my-lg-2" action="{% url 'exit' %}">
      <button class="btn btn-outline-primary" type="submit">Выход</button>
    </form>
      {% else %} 
      
    <form class="form-inline my-2 my-lg-0" action="{% url 'auth' %}">
      <button class="btn btn-outline-primary" type="submit">Войти</button>   
    </form>
      {% endif %} 
  </div>
</nav>
</head>

<body>
    
    

    <div>
{% block content %}{% endblock %}
        <hr/>
        <footer>
            
            
        </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="{% static 'med/scripts/jquery-1.10.2.js' %}"></script>
    <script src="{% static 'med/scripts/bootstrap.js' %}"></script>
    <script src="{% static 'med/scripts/respond.js' %}"></script>
{% block scripts %}
    {% endblock %}

</body>
</html>
